cmd.sh
*.pyc
*.pem
*.pub
*.tar.gz
*.zip
*.sql
*.db
secrets.txt
./tmp
./build/*
.idea/*
.idea
env
venv
.gitignore
.vscode
__pycache__
.gitlab-ci.yml
database.db
nohup.out
application/static/history
application/static/temp