*.pyc
*.pem
*.pub
*.tar.gz
*.zip
*.sql
*.db
secrets.txt
./tmp
./build/*
.idea/*
.idea
env
venv
.vscode
__pycache__
application/static/history
application/static/temp
tests/static/test_history
tests/static/test_temp