model_config_list: {
  config: {
    name:  "CNN31x31",
    base_path:  "/model/CNN31x31",
    model_platform: "tensorflow",
    model_version_policy: {
        all: {}
    }
  },
  config: {
    name:  "CNN128x128",
    base_path:  "/model/CNN128x128",
    model_platform: "tensorflow",
    model_version_policy: {
        all: {}
    }
  }
}